body {
  font-family: 'Raleway';
}

.about {
  height:100vh;
  background-image: url(./lake.JPG);
  background-size: cover;
  background-position: center;
  color: white;
}

h1, nav, nav a {
  display: inline-flex;
  margin: 10px;
}

h1 {
  float: left;
  font-size: 2.1em;
  margin-left: 2%;
  font-weight: 400;
}

nav {
  float: right;
  font-size: 1.2em;
  margin-right: 2%;
}

.aboutTextContainer {
  margin-top: 34%;
  margin-left: 2%;
  position: absolute;
  height: 100px;
  width: 50%;
  font-size: 1.8em;
}

.aboutTextContainer p {
  font-weight: 200;
}

.arrowContainer {
  position: absolute;
  bottom: 0;
  margin-top: 51%;
  width: 100%;
  text-align: center;
}
