body {
  font-family: 'Raleway';
}

.textContent i:hover, .textContent i:focus {
  color: blue;
}

#about {
  height:100vh;
  background-image: url(./img/lake.JPG);
  background-size: cover;
  background-position: center;
  color: white;
}

#about i {
  color: white;
}

h1, nav, nav a {
  display: inline-flex;
  margin: 10px;
  color: white;
}

h1 {
  float: left;
  font-size: 2.1em;
  margin-left: 2%;
  font-weight: 400;
}

nav {
  float: right;
  font-size: 1.2em;
  margin-right: 2%;
}

.aboutTextContainer {
  margin-top: 34%;
  margin-left: 2%;
  position: absolute;
  height: 100px;
  width: 50%;
  font-size: 1.8em;
}

.aboutTextContainer p {
  font-weight: 200;
}

.arrowContainer {
  position: absolute;
  bottom: 0;
  margin-top: 51%;
  width: 100%;
  text-align: center;
}

#skills {
  text-align: center;
  padding: 10px;
  background-color: #F4F4F4;

}

#skills div {
  display: inline-block;;
}

#skills i {
  display: inline-block;
  margin: 50px;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 5em;
}

.lightBlue {
  color: #00A7F7;
}

#projects {
  background-color: #F4F4F4;
  padding: 10px;
}

h2 {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: left;
}


.content {
  background-color: white;
  border-color: #dfdfdf;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  height: 100%;
}

.image {
  background-size: cover;
  height: 150px;
  background-position: top;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.textContent {
  margin: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
}

.linkStyle {
  color: black;
  float: right;
}

h3 {
  display: inline;
  margin-bottom: 5px;
}

footer {
  height: 8em;
  background-color: #151515;
  color: #F4F4F4;
  display: flex;
  flex-wrap: wrap;

}

footer a {
  color: white;
  margin: 10px;
}

footer a:hover {
  color: #f4f4f4;
}


@media screen and (min-width: 987px) {
  .flex-column {
    flex-basis: 50%;
  }

}
